 :root{

    --pink-reader: #e6d1d3;
    --body-sg-color:#fdf7f6;
    --popins-font:'Poppins', sans-serf;
    --play-fair:'Playfair Display', serif; 
}

p, div, a{
  font-family: var(--popins-font);
}

body{
  background-color: var (---body-bg-color) !important;
}

.nav-item{
  padding: 0 29px;
}

.nav-item .nav-link{
  padding: 0 !important;
  font-size: 15px;
  color: #000;
}

.display-3{
  font-family: var(--play-fair);
}

.text-center{
  --play-fir:var(--play-fair);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.78px;
  color: #a08241; 
  text-align: center
}

/* .text-center-1{
   --play-fir:var(--play-fair);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.78px;
  color: #000000; 
} */



.features-display-logo{
  width: 10%; 
  margin: 20px;
  padding: 20px;
  opacity: 0.62;
}

.line{   
  border: 1px;
  background-color: #b38185;
  margin-top: 21px;
  width: 113px;
  height: 5px; 
}

.logos img {
  max-width: 140px;
  max-height: 64px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.rectangle-copy{
  width: 375px;
  height: 213px;
  margin: 40px 16px 22px 18px;
}
