 :root{

    --pink-reader: #e6d1d3;
    --body-sg-color:#fdf7f6;
    --popins-font:'popins', sans-serf;


}

p, div, a{
  font-family: var(--popins-font);

}

body{
  background-color: var (--body-sg-color) !important;
}

.notify-header{
  background-color: #e6d1d3;

}

.rhoda-logo{
   mix-blend-mode: multiply;
   width: 99px;
   height: 92px;
}

.raw-item{
  padding: 8 29px;
  color: var(text-v);
}


/* 
.Sri-Lanka {
    width: 70px;
    height: 23px;
    margin: 31px 6px 38px 9px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

 

  img.IconlyLightLocation {
    width: 24px;
    height: 24px;
    margin: 31px 9px 37px 0;
    object-fit: contain;
    background-color: #fcfcfc;
  }

  .Rectangle {
    width: 1439px;
    height: 130px;
    margin: 38px 0 0 1px;
    padding: 20px 122px 18px 35px;
    background-color: #fdf7f6;
  } */