 :root{

    --pink-reader: #e6d1d3;
    --body-sg-color:#fdf7f6;
    --popins-font:'Poppins', sans-serf;
    --play-fair:'Playfair Display', serif; 
    --brown-text:#a08241;
    --dark-rose:#b38185;
    --heading-color: #a08241;
    --font-size-18px: 18px;
    --font-size-36px: clamp(28px 3vw 36px);
}

p, div, a{
  font-weight: 300;
  font-family: var(--popins-font);
}

body{
  background-color: var(--body-sg-color)!important;
}

::placeholder {
  color: #fff !important;
  opacity: 1;  
}

.nav-item{
  padding: 0 29px;
}

.nav-item .nav-link{
  padding: 0 !important;
  font-size: 15px;
  color: #000;
}

.display-3{
  font-family: var(--play-fair);
}
.display-4{
  font-family: var(--play-fair);
  font-size: 34px;
}
.play-fair-font{
  font-family: var(--play-fair);
}

.fs-18-px{
  font-size: 18px;
}

.fw-500{
  font-weight: 500;
}

.fw-200{
  font-weight: 200;
}
.logos-img {
  max-width: 92px;
  max-height: 99px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.title{
  font-size: clamp(29px, 3vw, 36px);
  text-align: center;
  margin-bottom: clamp(40px, 5vw, 71px);
  font-family: var(--play-fair);
  color: var(--brown-text);
}

.title::after{
  content: "";
  height: 5px;
  width: 113px;
  display: flex;
  margin: 21px auto 0;
  background-color: var(--dark-rose);
}

.logo-row img{
  width: 100%;
  max-width: 100px;
  mix-blend-mode: multiply;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-common{
  font-family: var(--play-fair);
  font-size: var(--font-size-36px);
  margin: 0 40px 9px 43px;
  font-size: 36px;
  color: #fff;
}

.text-white-small{
  color: white;
}

.featured-Categories-rows a:hover{
  font-weight: 500px;
  text-underline-offset: 3px;
  text-decoration: underline !important;
  color: var(--dark-rose) !important;
}

.status-div{
  width: 91px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--dark-rose);
}

.image-container:hover .buttons-div{
  bottom: 0;
}

.quick-views{
  border: solid 1.5px var(--dark-rose);
}

.add-to-cart{
  border: solid 1.5px var(--heading-color);
  background: var(--heading-color);
}

.image-container:hover.buttons-div{
  bottom: 0;
}

.secondary-text-color{
  color: #797979;
}

.text-color{
  color:var(--dark-rose);
}

a.btn{
  font-family: var(--popins-font);
  line-height: 1;
  font-size: var(--font-size);
  border: solid 1.5px #fff;
  border-radius: 0;
  padding: 0.8rem 0.5rem;
  min-width: 140px;
  font-weight: 500;
}

a.btn.text-white{
  border: solid 1.5px var(--body-sg-color);
}



@media (min-width: 1400px) and (max-width: 1900px){
   .container{
    min-width: 1198px;
  } 
}

@media (min-width: 1366px) and (max-width: 768px){
  .container{
   min-width: 1198px;
 } 
}

/* ================footer================== */

.footer{
  background-color: #b38185;
}

.rhoda-heading{
  padding: 38px 50px 39px 0px;
  font-family: var(--poppins-font);
  font-size: 34px;
  letter-spacing: normal;
  color: #fff; 
}

.rect-1{
  background-color: #b38185;
}

.footer-menu{
  font-weight: 500;
  font-family: var(--poppins-font);
  font-size: 17px;
  color: #fff;
  list-style: none; 
  padding: 19px 0px;
}

.text-reset{
  font-size: 16px;
  margin: 5px ;
  font-family: var(--poppins-font);
  font-size: 14px;
  font-weight: 300;
  color: #fff !important;
  text-decoration: none;
  list-style: none;
}


.dd{
  padding: 0 16px 0 0 ;
}

/* ==================hr tag============= */

.hr{
  color: #fff;
  margin: 10px ;
  
}

.emailicon {
  padding-left: 25px;
  background: url("mail2.svg") no-repeat left;
  background-size: 20px;
  border: 0px solid;
}





